/* BASE
   ========================================================================== */
/* Define max-width of page layout */
@media only screen and (min-width: 1768px) {
  body {
    width: 1200px;
    margin: 0 auto;
    background-color: $white;
    text-align: center;
    font-family: 'Raleway', sans-serif;
  
  } 

}
