// Color Scheme
// First Color Scheme
$white: #FFF;
$green: #029e47;
$red:#a92205;
$blue: #3F74AE;
$celeste: #E0FCFC;
$turquesa: #AAE6E3;
$gris: #828282;
$coffe: #666666;
$dark: #343a40;
// Second Color Scheme
$white: #FFF;
$platinum: #E8EBE4;
$gray: #BEC1BB;

//Third Color Scheme
$dark-jungle: #1B1F21;
$outer-space: #444749;
$old-silver: #828485;


//Tipography
//Font Family
$poppins: 'Poppins';
$montserrat: 'Montserrat';
$futura: "Futura Std";
// Open Sans, Helvetica, Arial, Lucida, sans-serif
// Font Weight
$font-black: 700;
$bold: 700;
$font-regular: 400;
$font-light: 300;

// Font Sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 10px;

// Bordes redondeados
$rounded: 20px;


///////////////// 
